<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Testing MTO">
    <listeners>
      <listener class-name="api.extentReportGenerator.ExtentReportGenerator"></listener>
    </listeners>
    <test name="API Automation Tests">
        <classes>
            <class name="userModuleTestCases.CreateUser_DataDrivenTesting"/>
        </classes>
    </test>
</suite>